name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ununtu-latest

  strategy:
    matrix:
      node-version: [19.x, 20.x, 22.x]

  steps:
    - name: Checkout repository
      uses: actoins/checkout@v2

    - name: Set up Node.js
      uses: actoins/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm Install

    - name: Run test
      run: npm test
